{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
{% load socialaccount %}

<body class="min-h-screen bg-gradient-to-b from-black via-[#1A0505] to-[#0B0B0B]">

    <form method="post" class="min-h-screen flex items-center justify-center">
        {% csrf_token %}

        <div class="w-full max-w-md h-screen sm:h-auto
            bg-gradient-to-br from-[#4A0404]/80 via-black/80 to-[#0B0B0B]/80
            backdrop-blur-md border border-white/20
            rounded-2xl p-8 shadow-2xl max-sm:pt-60">


            <h2 class="text-3xl font-semibold text-center text-slate-100 mb-6">
                Login
            </h2>

            <div class="space-y-4 text-slate-200">
                {{ form.as_p }}
            </div>

            <button type="submit" class="w-full mt-6 py-3 rounded-xl text-lg font-medium text-white
                   bg-gradient-to-r from-[#6B0000] to-black
                   transition-all duration-300 ease-in-out
                   hover:scale-105 hover:shadow-[0_0_20px_rgba(127,29,29,0.6)]">
                Login
            </button>
            <a href="{% provider_login_url 'google' %}">
                Login with Google
            </a>
            <div class="text-center mt-4">
                <p class="text-gray-600 text-sm">
                    If not registered,
                    <a href='{% url "register" %}' class="text-blue-600 hover:text-blue-800 font-medium underline">
                        Register now
                    </a>
                </p>
            </div>
        </div>
    </form>

</body>

{% endblock content %}